# MapR Setup

MAPR_CLUSTER=mycluster
MAPR_CLDB_HOSTS=cldb.lab.local

# MAPR_CONTAINER_USER must also exist on the docker host. Or at the very least, MAPR_CONTAINER_UID can NOT be used by anything. This is so we set permissions on the conf files
MAPR_CONTAINER_USER=mycontaineruser
MAPR_CONTAINER_PASSWORD=
MAPR_CONTAINER_GROUP=mycontainergroup
MAPR_CONTAINER_UID=12345
MAPR_CONTAINER_GID=12345


# THis needs to be created in a directory /tmp/mapr_ticket  In this folder, create a service ticket with maprlogin
MAPR_TICKETFILE_LOCATION=/tmp/mapr_ticket/maprticket_12345

MAPR_MOUNT_PATH=/mapr
MAPR_TZ=US/Central
# MapR Streamsets Config
MAPR_VERSION=6.0.0
MAPR_MEP_VERSION=4

# Image Name
IMG="maprssss:latest"

# Syslog Setup
MAPR_SYSLOG_VOLUME_LOCATION="/data/prod/syslogstreams"
MAPR_SYSLOG_STREAM_LOCATION="/data/prod/syslogstreams/logstream"
MAPR_SYSLOG_DEFAULT_PARTITIONS=3
MAPR_SYSLOG_TOPIC="logstream1"
SYSLOG_TCP_PORT=1514
SYSLOG_UDP_PORT=1514

# Streamsets
STREAMSETS_TCP_PORT=18690
APP_VER="3.1.0.0"

# 
# Path to Stream sets data - This is where the folder where all the config information will persist after the fact. I may update this to use a MAPR locaiton instead. 
APP_HOME="/home/zetaadm/streamssets"


###########################################################################3
# Do not change these Variables:
APP_CONF_DIR="$APP_HOME/conf"
APP_LOG_DIR="$APP_HOME/logs"
APP_SBIN_DIR="$APP_HOME/sbin"
APP_DATA_DIR="$APP_HOME/data"
APP_RESOURCE_DIR="$APP_HOME/resources"
APP_CERT_LOC="$APP_HOME/certs"
SDC_RESOURCES=/app/resources
SDC_DATA=/app/data
SDC_CONF=/app/conf
SDC_LOG=/app/logs
SDC_DIST="/opt/streamsets/streamsets-datacollector-${APP_VER}"
SDC_HOME="${SDC_DIST}"
