MAPR_CLUSTER=mycluster
MAPR_CLDB_HOSTS=cldb.lab.local
MAPR_CONTAINER_USER=mycontaineruser
MAPR_CONTAINER_PASSWORD=
MAPR_CONTAINER_GROUP=mycontainergroup
MAPR_CONTAINER_UID=12345
MAPR_CONTAINER_GID=12345
MAPR_TICKETFILE_LOCATION=/tmp/mapr_ticket/maprticket_12345
MAPR_MOUNT_PATH=/mapr
MAPR_TZ=US/Central
MAPR_SYSLOG_VOLUME_LOCATION="/data/prod/syslogstreams"
MAPR_SYSLOG_STREAM_LOCATION="/data/prod/syslogstreams/logstream"
MAPR_SYSLOG_DEFAULT_PARTITIONS=3
MAPR_SYSLOG_TOPIC="logstream1"
SYSLOG_TCP_PORT=1514
SYSLOG_UDP_PORT=1514
IMG="maprssss:latest"
STREAMSETS_TCP_PORT=18690
APP_VER="3.1.0.0"
APP_HOME="/home/zetaadm/streamssets"
APP_CONF_DIR="$APP_HOME/conf"
APP_LOG_DIR="$APP_HOME/logs"
APP_SBIN_DIR="$APP_HOME/sbin"
APP_DATA_DIR="$APP_HOME/data"
APP_RESOURCE_DIR="$APP_HOME/resources"
APP_CERT_LOC="$APP_HOME/certs"
MAPR_VERSION=6.0.0
MAPR_MEP_VERSION=4
SDC_RESOURCES=/app/resources
SDC_DATA=/app/data
SDC_CONF=/app/conf
SDC_LOG=/app/logs
SDC_DIST="/opt/streamsets/streamsets-datacollector-${APP_VER}"
SDC_HOME="${SDC_DIST}"
